/.vs
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/.vs/ThrApi/v17/.futdcache.v2
/.vs/ThrApi/v17/.suo
/.vs/ThrApi/DesignTimeBuild
/.vs/ThrApi/DesignTimeBuild/.dtbcache.v2
/API.ASSITENCIA_TECNICA_OS\obj
/API.AUTH\obj
/API.ESTOQUE_GRM_MATRIZ\obj
/API.GATEWAY\obj
/ThrApi\obj
